.App {
  text-align: center;
  font-family: "Open Sans", "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", "Open Sans", "Roboto", sans-serif;
  /* color: #b71234; */
}

#page-body {
  margin: 3.5rem 0.5rem 5.5rem 0.5rem;
  /* background-color: pink; */
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.navbar {
  background-color: pink;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  height: 5rem;
}

.navbar button {
  background-color: rgb(196, 111, 245);
  width: 100%;
  height: 100%;
  border: 1px silver solid;
}

.new-report-text {
  margin: 0 auto;
  width: 80%;
}

.new-report-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-report-container .primary-save {
  margin-top: 2rem;
  margin-bottom: 5rem;
  width: 80%;
  height: 4rem;
  background-color: #b71234;
  font-family: "Roboto Slab", "Open Sans", "Roboto", sans-serif;
  color: #ffffff;
  font-size: 1.5rem;
}

.new-report-header {
  margin-top: 2rem;
}

.header-bar {
  background-color: #b71234;
  font-family: "Roboto Slab", "Open Sans", "Roboto", sans-serif;
}

.new-log-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  padding-top: 1rem;
}

.new-log-input {
  /* background-color: aqua; */
  width: 100%;
}

.new-log-input input {
  /* background-color: gold; */
  width: 80vw;
}

.new-log-input textarea {
  /* background-color: gold; */
  width: 80vw;
}

.new-log-input-button {
  width: 87vw;
  height: 4rem;
  background-color: #b71234;
  font-family: "Roboto Slab", "Open Sans", "Roboto", sans-serif;
  color: #ffffff;
  font-size: 1.5rem;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  margin-top: 1.5rem;
  border-radius: 0.25rem;
}

.new-log-input-button:hover {
  background-color: #8b0d26;
}

.zoekKnop {
  background-color: #b71234;
  font-family: "Roboto Slab", "Open Sans", "Roboto", sans-serif;
  color: #ffffff;
  font-size: 1.25rem;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  margin-top: 1.5rem;
  border-radius: 0.25rem;
  padding: 0.9rem 1rem;
  margin-top: -0.1rem;
  margin-left: 0.5rem;
}

.zoekKnop:hover {
  background-color: #8b0d26;
}

.logboek-zoek-container {
  /* background-color: gold; */
  margin-top: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.single-log-container {
  font-size: 0.9rem;
  white-space: pre-line;
  text-align: left;
  padding: 0.5rem;
}

.single-log fieldset {
  border-color: rgba(139, 13, 38, 0.3);
  margin-top: 1.5rem;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.single-log legend {
  font-weight: 700;
  transform: translateY(-0.2rem);
}
