.App {
  text-align: center;
  font-family: "Open Sans", "Roboto", sans-serif;
  /* background-color: #fafaf7; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", "Open Sans", "Roboto", sans-serif;
  /* color: #b71234; */
}

#page-body {
  margin: 3.5rem 0.5rem 5.5rem 0.5rem;
}

.navbar {
  background-color: pink;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  height: 5rem;
}

.navbar button {
  background-color: rgb(196, 111, 245);
  width: 100%;
  height: 100%;
  border: 1px silver solid;
}

.new-report-text {
  margin: 0 auto;
  width: 80%;
}

.new-report-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-report-container .primary-save {
  margin-top: 2rem;
  margin-bottom: 5rem;
  width: 80%;
  height: 4rem;
  background-color: #b71234;
  font-family: "Roboto Slab", "Open Sans", "Roboto", sans-serif;
  color: #ffffff;
  font-size: 1.5rem;
}

.new-report-header {
  margin-top: 2rem;
}

.header-bar {
  background-color: #b71234;
  font-family: "Roboto Slab", "Open Sans", "Roboto", sans-serif;
}

.new-log-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  padding-top: 4.5rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}

.new-log-input {
  /* background-color: aqua; */
  width: 100%;
}

.new-log-input input,
.new-log-input textarea {
  background-color: #ffffff;
  width: 80vw;
}

.new-log-input textarea {
  /* background-color: gold; */
  width: 80vw;
}

.new-log-input-button {
  width: 87vw;
  height: 4rem;
  background-color: #b71234;
  font-family: "Roboto Slab", "Open Sans", "Roboto", sans-serif;
  color: #ffffff;
  font-size: 1.5rem;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  margin-top: 1.5rem;
  border-radius: 0.25rem;
}

.new-log-input-button:hover {
  background-color: #8b0d26;
}

.zoekKnop {
  background-color: #b71234;
  font-family: "Roboto Slab", "Open Sans", "Roboto", sans-serif;
  color: #ffffff;
  font-size: 1rem;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  margin-top: 1.5rem;
  border-radius: 0.25rem;
  padding: 0.8rem 1rem;
  margin-top: -0.1rem;
  margin-left: 0.5rem;
}

.zoekKnop:hover {
  background-color: #8b0d26;
}

.logboek-zoek-container {
  margin-top: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.logboek-zoek-container input {
  height: 1rem;
}

.single-log-container {
  margin-top: 3rem;
  font-size: 0.9rem;
  white-space: pre-line;
  text-align: left;
  padding: 0.5rem;
}

.single-log fieldset {
  border-color: rgba(139, 13, 38, 0.3);
  margin-top: 1.5rem;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.single-log legend {
  font-weight: 700;
  transform: translateY(-0.2rem);
}

.logboeklistpagecontainer {
  /* background-color: gold; */
  margin-bottom: 3rem;
}

.logListItem {
  cursor: pointer;
}

.showData ul {
  list-style: none;
  padding-left: 0;
}

.showData ul span {
  font-weight: 700;
}

.schoonmaak-list {
  /* background-color: greenyellow; */
  list-style: none;
  text-align: left;
  padding-left: 0.5rem;
}

.schoonmaak-list input[type="checkbox"] {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.single-log-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.FAB-niew-log {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 20px;
  right: 20px;
  background-color: #b71234;
  font-family: "Roboto Slab", "Open Sans", "Roboto", sans-serif;
  color: #ffffff;
  border-radius: 50%;
  border: none;
  text-align: center;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}

.FAB-niew-log:hover,
.FAB-niew-log:focus {
  background-color: #d35770;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 0px;
}

.navigatie {
  background-color: gold;
  display: flex;
  justify-content: center;
  height: 56px;
  z-index: 50;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.navigatie ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  padding-left: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.navigatie li {
  background-color: aqua;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}

.show-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.show-data-field {
  width: 46%;
}

.new-log-form {
  /* background-color: gold; */
  margin: 1rem;
}
